.deviceList {
  position: absolute;
}

.actionIcon {
  font-size: 16px;
  color: rgb(77, 133, 141);
}

.btn {
  border: 1px solid;
  background-color: rgb(50, 50, 59);
  font-size: 18px;
  color: aqua;
  margin-top: 20px;
  padding: 10px 50px;
  cursor: pointer;
  transition: 0.4s;
  margin-bottom: 30px;
}
#btnCancel {
  margin-left: 20px;
}
